<div class="page-header">
  <h1>New game</h1>
</div>
<div class="alert alert-info">
  Want to know where to start? Get some <a href="#help">help</a>!
</div>

<%= render 'form' %>

<%= render 'help' %>
